@charset "utf-8";
/*科e互联特效基本框架CSS*/
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust: none}
h1, h2, h3, h4, h5, h6{font-size:12px;font-weight:normal}
body>div{margin:0 auto}
div {text-align:left}
a img {border:0}
body { color: #333; text-align: center; font: 12px "微软雅黑"; }
ul, ol, li {list-style-type:none;vertical-align:0}
a {outline-style:none;color:#535353;text-decoration:none}
a:hover { color: #D40000; text-decoration: none}
.clear{height:0; overflow:hidden; clear:both}
.button {display: inline-block;zoom: 1; *display: inline;vertical-align: baseline;margin: 0 2px;outline: none;cursor: pointer;text-align: center;text-decoration: none;font: 14px/100% Arial, Helvetica, sans-serif;padding:0.25em 0.6em 0.3em;text-shadow: 0 1px 1px rgba(0,0,0,.3);-webkit-border-radius: .5em; -moz-border-radius: .5em;border-radius: .5em;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.red {color: #faddde;border: solid 1px #980c10;background: #d81b21;background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#A51715));background: -moz-linear-gradient(top,  #ed1c24,  #A51715);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover { background: #b61318; background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115)); background: -moz-linear-gradient(top,  #c9151b,  #a11115); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115'); color:#fff;}
.red:active {color: #de898c;background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');}
.cor_bs,.cor_bs:hover{color:#ffffff;}
.keBody{background:url(../img/bodyBg.jpg) repeat #333;}
.keTitle{height:100px; line-height:100px; font-size:30px; font-family:'微软雅黑'; color:#FFF; text-align:center; background:url(../img/bodyBg3.jpg) repeat-x bottom left; font-weight:normal}
.kePublic{background:#FFF; padding:0px;}
.keBottom{color:#FFF; padding-top:25px; line-height:28px; text-align:center; font-family:'微软雅黑'; background:url(../img/bodyBg2.jpg) repeat-x top left; padding-bottom:25px}
.keTxtP{font-size:16px; color:#ffffff;}
.keUrl{color:#FFF; font-size:30px;}
.keUrl:hover{ text-decoration: underline; color: #FFF; }
.mKeBanner,.mKeBanner div{text-align:center;}
/*科e互联特效基本框架CSS结束，应用特效时，以上样式可删除*/
.slides {
	width: 100%;
	height: 700px;
	position: relative;
	overflow: hidden;
}
.slideInner {
	height: 700px;
	position: relative;
	left: 0;
	margin-left: 0;
}
.slideInner a {
	display: block;
	height: 700px;
	background-size: cover;
	background-position: center center;
	position: relative;
	text-align: center;
	z-index: 1;
}
.slideInner a div.img1 {
	width: 1070px;
	position: absolute;
	left: 50%;
	margin-left: -535px;
}
.slideInner a div.img2 {
	width: 1070px;
	position: absolute;
	top: 557px;
	left: 50%;
	margin-left: -535px;
}
.slideInner .slide3 .img2{
	top: 200px;
}
.slideInner .slide3 .img3{
	width: 181px;
	height: 286px;
	position: absolute;
	left: 50%;
	margin-left: 330px;
	top: 330px;
}
.nav {
	width: 1200px;
	position: relative;
	left: 50%;
	margin-left: -600px;
	display: none;
}
.nav a {
	display: block;
	width: 41px;
	height: 119px;
	opacity: .2;
	z-index: 9;
}
.nav a.prev {
	position: absolute;
	left: 0;
	top: -350px;
	margin-top: -58px;
	background: url(../img/ban_pre.png) no-repeat;
}
.nav a.next {
	position: absolute;
	right: 0;
	top: -350px;
	margin-top: -58px;
	background: url(../img/ban_next.png) no-repeat;
}
.navListBox {
	position: absolute;
	left: 50%;
	top: 675px;
	z-index: 99;
}
.navListBox li {
	width: 12px;
	height: 12px;
	float: left;
	margin-left: 5px;
	border-radius: 50%;
	overflow: hidden;
}
.navListBox li:first-child {
	margin-left: 0;
}
.navListBox li a {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 5px #666 inset;
}
.navListBox li a.active {
	background-color: #55ddff;
}