/* CSS Document */
body {
	margin:0 auto;
	padding:0;
	font-family:"ו";
	font-size:12px;
	color:#000000;
	text-align:center;
}
#main {
	width:800px;
	margin:0;
	padding:0;
	text-align:left;
}
#left {
	width:560px;
	margin:0;
	padding:0;
	float:left;
}
#right {
	width:240px;
	margin:0;
	padding:0;
}
#Prev {
	float:left;
}
#Next {
	float:right;
}
#comments {
	margin:0;
	padding:0;
}
#comments ul {
	margin:0;
	padding:0;
}
#comments ul li {
	padding:0;
}
#comments ul li#com_user {
	height:25px;
	line-height:25px;
	border-bottom:1px #CCCCCC dashed;
}
#comments ul li#content {
	height:auto !important;
	height:25px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
}